.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.top-region {
    height: 15px;
    width: 100%;
}

.node {
    min-width: 200px; 
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.children {
    margin-left: 10px; 
} 

.hidden {
    display: none;
}

.placeholder {
    opacity: .5;
}

.drag-ghost {
    opacity: .5;
    position: fixed;
}
